@model CreateProductViewModel 
@using shop_web_app.Enums;
@using shop_web_app.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Nazwa produktu</label>
        <input asp-for="Name" class="form-control" placeholder="Wprowadź zwięzłą nazwę produktu">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Opis produktu</label>
        <input asp-for="Description" style="height: 100%; width: 100%" class="form-control" placeholder="Wprowadź bogaty opis produktu">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category">Kategoria</label>
        <select asp-for="Category" class="form-control" id="categorySelect" onchange="updateSubCategories()">
            <option value=@null>--- Wybierz kategorię ---</option>
            <option value=@Category.Top>@Category.Top.ToFriendlyString()</option>
            <option value=@Category.Bottom>@Category.Bottom.ToFriendlyString()</option>
            <option value=@Category.Accessory>@Category.Accessory.ToFriendlyString()</option>
            <option value=@Category.Shoes>@Category.Shoes.ToFriendlyString()</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubCategory">Podkategoria</label>
        <select asp-for="SubCategory" class="form-control" id="subCategorySelect">
@*            options will be added with js  *@
        </select>
        <span asp-validation-for="SubCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Płeć</label>
        <select asp-for="Gender" class="form-control" id="genderSelect">
            <option value=@ClothingGender.F>@ClothingGender.F.ToFriendlyString()</option>
            <option value=@ClothingGender.M>@ClothingGender.M.ToFriendlyString()</option>
            <option value=@ClothingGender.U>@ClothingGender.U.ToFriendlyString()</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    @*                      MATERIAŁY                   *@
    <div class="form-group">
        <label>Materiały</label>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Cotton" id="Cotton" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Cotton">
                Bawełna
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Polyester" id="Polyester" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Polyester">
                Poliester
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Leather" id="Leather" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Leather">
                Skóra naturalna
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Linen" id="Linen" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Linen">
                Len
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Viscoze" id="Viscoze" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Viscoze">
                Wiskoza
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Plastic" id="Plastic" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Plastic">
                Tworzywo sztuczne
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Rubber" id="Rubber" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Rubber">
                Guma
            </label>
        </div>
        <div class="form-check">
            <input class="mat-form-check-input" type="checkbox" name="ProductMaterials" value="Wool" id="Wool" onclick="setMaterialIndexes()">
            <label class="form-check-label" for="Wool">
                Wełna
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>Cena produktu</label>
        <div style="display: flex; align-items: center;">
            <input asp-for="Price" style="height: 100%; width: 100px; margin-right: 8px;" class="form-control" id="exampleInputPassword1" placeholder="np. '79,99'">
            <span asp-validation-for="Price" class="text-danger"></span>
            <span>PLN</span>
        </div>
    </div>

    <div class="form-group mb-1"id="variantsContainer">
        <!-- Dynamicznie dodawane warianty pojawią się tutaj -->
    </div>
    <div class="form-group mb-2" id="removeVariantContainer">
        <!-- button for variant removal will be here -->
    </div>
    <div class="form-group mb-2">
        <button type="button" class="btn btn-primary" onclick="addVariant()">Dodaj Wariant</button>
    </div>

    <div class="text-center">
        <button type="submit" class="btn-lg btn btn-success">Dodaj produkt</button>
    </div>
    

    <script src="CreateHelper.js">
    </script>
</form>