@model Product
@using shop_web_app.Enums;
@using shop_web_app.Models.SizeQuantity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                @{
                    ProductVariant defaultVariant = Model.ProductVariants.ElementAtOrDefault(0);
                }
                <div id="carouselExampleControls" class="col-lg-7 mb-4 mb-sm-0 carousel slide carousel-dark" data-bs-ride="carousel">
                    <div id="carouselContent" class="carousel-inner">
                        @{
                            int j = 0;
                        }
                        @foreach (Photo photo in defaultVariant.Photos)
                        {
                            if (j == 0)
                            {
                                <div class="carousel-item active">
                                    <img alt="Image" id="mainImage" src="@photo.PhotoUrl" class="rounded img-fluid" style="width: 100%;" />
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img alt="Image" id="mainImage" src="@photo.PhotoUrl" class="rounded img-fluid" style="width: 100%;"  />
                                </div>
                            }
                            j++;
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </button>
                </div>

                <!--end of col-->
                <div class="col-lg-5 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div class="mb-3">
                        <h1 class="mb-2">@Model.Name</h1>
                        <h2 class="lead mb-3">@Model.Gender.ToFriendlyString()/@Model.SubCategory.ToFriendlyString()</h2>
            
                       
                        <div class="mt-5 mb-5">
                            <p class="lead"><b>Materiały:</b></p>
                            <ul>
                                @foreach(ProductMaterial material in Model.ProductMaterials)
                                {
                                    <li>@material.Material.ToFriendlyString()</li>
                                }
                            </ul>
                        </div>
                        

                        <div class="row mb-4">
                            <p class="lead" id="variantName"><b>Wariant:</b> @defaultVariant.Name</p>
                            @{
                                int i = 0;
                                string classToInsert;
                            }
                            @foreach(ProductVariant variant in Model.ProductVariants)
                            {
                                if (i == 0)
                                {
                                    classToInsert = "img-thumbnail selected";
                                }
                                else
                                    classToInsert = "img-thumbnail";

                                <div class="col">
                                    <div class="img-container">
                                        <img 
                                            id="variant-@i-thumbnail"
                                            alt="@variant.Name Thumbnail" 
                                            src="@variant.Photos.First().PhotoUrl" 
                                            class="img-fluid @classToInsert"
                                            onclick="changeVariant(this)"
                                            data-variant-index="@i"
                                        />
                                    </div>
                                </div>
                                if(i % 3 == 0 && i != 0)
                                {
                                    <div class="mb-4"></div>
                                }
                                i++;
                            } 
                        </div>

                        <p class="lead">Wybierz rozmiar:</p>
                        <div class="mb-3" id="sizesContainer">
                            @if(Model.Category != Category.Shoes){
                                <select id="selectedSize" class="form-select form-select mb-3" style="width: 180px;">
                                    <option selected>Wybierz rozmiar</option>
                                    @foreach(InternationalSizeQuantity sq in defaultVariant.InternationalSizeQuantity)
                                    {
                                        if(sq.Quantity > 0)
                                        {
                                            <option value="@sq.Size">@sq.Size</option>
                                        }
                                        else
                                        {
                                            <option disabled class="text-muted" value="@sq.Size">@sq.Size (niedostępne)</option>
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="selectedSize" class="form-select form-select mb-3" style="width: 180px;">
                                    <option value="" selected>Wybierz rozmiar</option>
                                    @foreach (ShoeSizeQuantity sq in defaultVariant.ShoeSizeQuantity)
                                    {
                                        if (sq.Quantity > 0)
                                        {
                                            <option value="@sq.Size">@sq.Size.ToFriendlyString()</option>
                                        }
                                        else
                                        {
                                            <option disabled class="text-muted" value="@sq.Size">@sq.Size.ToFriendlyString() (niedostępne)</option>
                                        }
                                    }
                                </select>
                            }
                        </div>
                    </div>
                    <div>
                        <div class="btn-group mb-2">
                            <input type="hidden" id="selectedVariantIndex" name="SelectedVariantIndex" value="0" />
                            <a class="btn btn-success btn-lg">@Model.Price PLN</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" class="btn btn-success" id="addToCart" onclick="addToCart()">
                                    <span class="sr-only"><i class="bi bi-bag"></i> Do koszyka</span>
                                </button>
                            }
                            else
                            {
                                <a type="button" class="btn btn-success" id="addToCart" asp-area="" asp-controller="Account" asp-action="Login">
                                    <span class="sr-only"><i class="bi bi-bag"></i> Do koszyka</span>
                                </a>
                            }
                            
                        </div>
                        
                    </div>
                    <div id="cartAlert">

                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white space-sm">
        <hr />
        <div class="container">
            <h4>O produkcie</h4>
            <p>@Model.Description</p>
        </div>
    </section>
</div>
<script>
    const variantData = @Html.Raw(Json.Serialize(Model.ProductVariants));
</script>
