@using shop_web_app.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CartItem>

<div class="my-3 p-3 bg-white rounded shadow">
    @if(Model == null || !Model.Any())
    {
        <h3 class="border-bottom border-gray pb-2 mb-0">Twój koszyk jest pusty!</h3>
        <small>
            Może pora go zapełnić?
        </small>
    }
    else
    {
        decimal sum = 0;

        <h3 class="border-bottom border-gray pb-2 mb-0">Przedmioty w twoim koszyku</h3>
        @foreach (CartItem item in Model)
        {
            <div class="media pt-3">
                <div class="row g-3">
                    <div class="col-md-2 img-container-cart">
                        <img alt="@item.Variant.Product.Name Thumbnail"
                             src="@item.Variant.Photos.First().PhotoUrl"
                             class="img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a class="h4 text-decoration-none" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@item.Variant.ProductId">
                                    @item.Variant.Product.Name
                                </a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-danger" asp-area="" asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
                            </div>
                        </div>
                        

                        @{
                            decimal totalPrice = item.Variant.Product.Price * @item.Quantity;
                            int maxAmount;
                        }
                        <p class="lead">
                            @item.Variant.Product.Price PLN
                        </p>

                        <div class="row">

                            @if (item.InternationalSize.HasValue) // nie jest butem
                            {
                                maxAmount = item.Variant.InternationalSizeQuantity.FirstOrDefault(q => q.Size == item.InternationalSize.Value)?.Quantity ?? 0;

                                <div class="col">
                                    <p><span class="text-muted">Rozmiar:</span> @item.InternationalSize.Value</p>
                                </div>
                            }
                            else
                            {
                                maxAmount = item.Variant.ShoeSizeQuantity.FirstOrDefault(q => q.Size == item.ShoeSize.Value)?.Quantity ?? 0;

                                <div class="col">
                                    <p><span class="text-muted">Rozmiar:</span> @item.ShoeSize.Value</p>
                                </div>
                            }
                            <div class="col">
                                <p><span class="text-muted">Wariant:</span> @item.Variant.Name</p>
                            </div>
                            <div class="col">
                                <p><span class="text-muted">Płeć:</span> @item.Variant.Product.Gender.ToFriendlyString()</p>
                            </div>
                            <div class="col">
                                <p><span class="text-muted">Łącznie:</span> <b>@totalPrice PLN</b></p>
                            </div>

                        </div>
                        @{
                            
                        }
                        <p><span class="text-muted" id="quantity">Ilość:</span> @item.Quantity</p>
                        
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonSM" data-bs-toggle="dropdown" aria-expanded="false">
                            Wybierz ilość
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSM">
                            @for (int i = 1; i <= (maxAmount >= 15 ? 15 : maxAmount); i++)
                            {
                                <li><a type="button" class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="UpdateQuantity" asp-route-cartItemId="@item.Id" asp-route-newQuantity="@i">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <hr />
            </div>

            sum += totalPrice;
        }
        <div class="d-flex justify-content-between">
            <div>
                <h5><span class="text-muted">Suma:</span> @sum PLN</h5>
            </div>
            <div>
                <a type="button" class="btn btn-success" asp-area="" asp-controller="Order" asp-action="Create">Złóż zamówienie </a>
            </div>
        </div>
    }
</div>